
<% @stores.each do |store| %>
  <div class="name"><%= store.name %></div>
  <div class="city"><%= store.city %></div>
  <div class="distance"><%= store.distance %></div>
  <div class="phone-number"><%= store.phone_number %></div>
  <div class="store-type"><%= store.store_type %></div>
<% end %>
